.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .form__button {
    flex-grow: 1;
    max-width: 600px;
    width: 100%;
    margin-top: 5px;
  }

  .task__button {
    width: 30px;
    height: 30px;
    padding: 0px;
    flex-shrink: 0;
  }

  .form {
    padding: 20px 20px;
  }

  .section {
    margin: 5px 5px;
  }

  .header {
    padding: 10px 10px;
  }

  .section__header {
    grid-template-columns: 1fr;
  }

  .buttons__button {
    flex-basis: 100%;
    margin: 10px;
  }

  .button {
    margin-bottom: 10px;
  }
}
