.task__button {
    flex-basis: 35px;
    height: 35px;
    margin: 0 10px;
    flex-shrink: 0;
    border: none;
    transition: 0.3s;
}

.task__item {
    flex-basis: 90%;
    align-self: center;
}

.list__item {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    margin: 0 40px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.tasks {
    padding: 10px 0;
}

.tasks__item--hidden {
    display: none;
}

.tasks__item--done {
    text-decoration: line-through;
}

.task__button--done {
    background-color: hsl(120, 93%, 35%);
    color: white;
    font-size: 120%;
}

.task__button--done:hover {
    background-color: hsl(120, 93%, 40%);
    border: solid 1px hsl(0, 3%, 20%);
    border-radius: 3px;
}

.task__button--remove {
    background-color: hsl(0, 98%, 45%);
}

.task__button--remove:hover {
    background-color: hsl(0, 100%, 55%);
    border: solid 1px hsl(0, 3%, 20%);
    border-radius: 3px;
}