.buttons__button {
  border: none;
  color: hsl(180, 100%, 25%);
  background-color: white;
  margin-top: 3px;
  margin-left: 20px;
}

.button {
  display: flex;
  flex-wrap: wrap;
}

.buttons__button:hover {
  color: hsl(180, 100%, 30%);
}

.buttons__button:active {
  color: hsl(180, 100%, 35%);
}

.buttons__button:disabled {
  color: gray;
}
